body {
    background-color: #fafafa;
}

#banner {
    position: relative;
    text-align: center;
    color: white;
}

#mh1 {
    font-weight: normal;
    font-family: "Roboto Light";
    color: white;
    position: absolute;
    top: 75%;
    left: 1000px;
}

#nav {
    font-family: "Roboto Light";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

#nav li {
    width: 175px;
    float: left;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #fafafa;
}

.navicon {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 8px;
    height: 25px;
    width: 25px;
    vertical-align: top;
    clip: auto;
}

aside {
    font-family: "Roboto Light";
    float: right;
    width: 15%;
    padding: .5rem;
    margin-top: 30px;
    margin-left: .5rem;
    background-color: #fff;
}

.malist input {
    font-family: "Roboto";
    border-radius: 3px;
    background-color: #fafafa;
}

#main {
    width: 75%;
    background-color: #fff;
    font-family: "Roboto";
    margin: 30px;
    padding: 30px;
}

#main article {
    background: #fafafa;
    padding: .3rem 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#main article h3 {
    width: 700px;
}

.image-wrapper {
    width: 200px;
    float: right;
    padding-right: 25px;
    padding-bottom: 10px;
    margin: 15px 30px 75px 30px;
}

.image-wrapper img {
    width: 100%;
}

.image-wrapper span {
    font-family: "Roboto Light";
    color: #aaa;
}

.lireplus {
    border-radius: 4px;
    background-color: #fff;
    border: .5px solid #323232;
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 142px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.lireplus span {
    font-family: "Roboto Light";
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.lireplus span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.lireplus:hover span {
    padding-right: 25px;
}

.lireplus:hover span:after {
    opacity: 1;
    right: 0;
}

footer {
    height: 80px;
    background: #afafaf;
    display: block;
    position: relative;
    padding: 60px 20px;
}

.fa {
    padding: 7.5px;
    font-size: 20px !important;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

#copy {
    font-family: "Roboto Light";
    color: #fff;
    text-align: center;
    
}

#socialmedia {
    right: 2.5%;
    position: absolute;
    bottom: 15%;
    clear: both;
}